.notesPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-bottom: 180px; */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.leftActions {
  display: flex;
  gap: 10px;
}

.rightActions {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* دکمه Add Note */
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  padding: 8px 12px;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* Layout toggle container */
.layoutToggle {
  display: flex;
  gap: 8px;
  background-color: var(--bg);
  border-radius: 10px;
  padding: 6px;
  border: 1px solid #e7e7e7eb;
}

.icon {
  cursor: pointer;
  color: #757575a3; /* رنگ پیش‌فرض */
  font-size: 28px;
  transition: color 0.2s;
}

.activeIcon {
  cursor: pointer;
  color: #111111d6; /* رنگ فعال */
  font-size: 28px;
}

/* Filter button */
.filterBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border-radius: 10px;
  background-color: var(--bg);
  cursor: pointer;
  border: 1px solid #e7e7e7eb;
  color: #656464ff;
}

/* Notes container */
.notesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.notesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.noteCard {
  padding: 15px;
  border-radius: 10px;
  background-color: var(--MainContent);
  box-shadow: 0 0 10px var(--shadow);
}
