.card {
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 220px; /* بزرگ‌تر شد */
  width: 100%;
  box-sizing: border-box;
  position: relative;
  transition: transform 0.2s;
}

/* عنوان */
.title {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* کانتینر تگ‌ها و محتوا */
.noteContent {
  background-color: var(--note-content); /* بک‌گراند سفید */
  border-radius: 12px; /* گوشه‌های گرد */
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

/* تگ‌ها */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  border-radius: 10px;
}

.tag {
  background-color: var(--tags);
  color: var(--text);
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 11px;
  height: fit-content;
}

/* متن نوت */
.content {
  font-size: 14px;
  color: var(--text);
  width: 100%;
  height: 100%;
}

.contentText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  max-height: calc(1.3em * 3); 
}
