.header {
  min-height: 116px;
  padding: 15px 26px;
  border-bottom: 1px solid var(--border);
  width: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 5px;
}

.back {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.path {
  color: var(--text-muted);
}

.actions {
  display: flex;
  gap: 30px;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

/* قاب سرچ */
.searchWrapper {
  position: relative;
  width: 45%;
}

/* خود input */
.search {
  width: 100%;
  padding: 8px 14px 8px 40px; /* فضای آیکن از چپ */
  border-radius: 10px;
  border: 2px solid var(--border);
  background-color: var(--sarch-input-bg);
  color: var(--text);
  font-size: 14px;
  transition: all 0.25s ease;
  outline: none;
}

/* آیکن داخل سرچ */
.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
  opacity: 0.6;
}

/* حالت فوکوس حرفه‌ای */
.search:focus {
  border-color: var(--primary);
  background-color: var(--search-input-bg-focus);
  box-shadow: 0 0 6px var(--primary-hover);
}

/* Placeholder نرم و حرفه‌ای */
.search::placeholder {
  color: var(--text-muted);
  opacity: 0.8;
}

/* Hover */
.search:hover {
  border-color: var(--border-hover);
}

.iconDarkMode {
  color: var(--theme-toggle);
}
.iconPerson {
  color: #3b82f6;
}
.profileMenu {
  position: absolute;
  top: 42px;
  right: 0;
  background: #fff;
  border-radius: 8px;
  min-width: 140px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  padding: 6px 0;
  z-index: 1000;
}

.logoutBtn {
  width: 100%;
  padding: 10px 14px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.logoutBtn:hover {
  background-color: #f5f5f5;
}