.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.main {
  width: 100%;
  height: 100%;
  background-color: var(--MainContent);
  border-radius: 30px;
  box-shadow: 0 0 14px var(--shadow);
  overflow: hidden; 
}
