.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100vh - 116px);
  overflow-y: hidden;
}

.scrollArea {
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 120px;
}
