* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* قفل کامل */
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 100px;
}
.app-wrapper {
  display: flex;
  border-radius: 30px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.content-area {
  width: 100%;
  overflow: hidden;
}

.landingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
@supports (view-transition-name: root) {
  html {
    view-transition-name: root;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }

  ::view-transition-old(root) {
    animation: none;
  }
}
