* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* قفل کامل */
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

.main{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}
.app-wrapper {
  display: flex;
  border-radius: 30px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.content-area {
  width: 100%;
}
