.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 100px;
}
.appWrapper {
  display: flex;
  border-radius: 30px;
  background-color: var(--surface);
  width: 100%;
  height: 100%;
}

.contentArea {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.landingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
